In [1]:
#Imports
import requests # Request module
import pandas as pd # Data Wrangling
import numpy as np # Data Wrangling
from bs4 import BeautifulSoup #Web sraping module

In [70]:
years = [str(i) for i in range(2021, 2022)]

In [71]:
html_dfs = pd.read_html("https://www.pgatour.com/stats/stat.02671.{}.html".format(year))

In [97]:
df1 = html_dfs[1]

In [98]:
df1

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,EVENTS,POINTS,# OF WINS,# OF TOP-10S,POINTS BEHIND LEAD,RESET POINTS
0,1,10,Collin Morikawa,19,2136,2,8.0,0,NaN
1,2,5,Jordan Spieth,21,2072,1,9.0,64,NaN
2,3,1,Patrick Cantlay,20,2014,2,5.0,122,NaN
3,4,3,Jon Rahm,19,2003,1,12.0,133,NaN
4,5,2,Harris English,22,1899,2,7.0,237,NaN
...,...,...,...,...,...,...,...,...,...
245,246,245,Retief Goosen,1,3,0,NaN,2133,NaN
246,T247,T246,Arjun Atwal,8,3,0,NaN,2133,NaN
247,T247,T246,Zac Blair,4,3,0,NaN,2133,NaN
248,249,248,Jerry Kelly,3,3,0,NaN,2133,NaN
249,250,249,Parker McLachlin,8,2,0,NaN,2134,NaN

In [101]:
df_2021 = pd.
df_2021['PLAYER NAME'] = df1['PLAYER NAME']

NameError: name 'df_2021' is not defined

In [73]:
html_dfs2 = pd.read_html("https://www.pgatour.com/stats/stat.138.{}.html".format(year))

In [75]:
html_dfs2[1]

    RANK THIS WEEK RANK LAST WEEK        PLAYER NAME  TOP 10  1ST  2ND  3RD
0                1              1           Jon Rahm      12  1.0  1.0  1.0
1                2              2      Jordan Spieth       9  1.0  2.0  2.0
2               T3             T3  Scottie Scheffler       8  NaN  1.0  1.0
3               T3             T3      Brooks Koepka       8  1.0  2.0  NaN
4               T3             T3    Collin Morikawa       8  2.0  1.0  NaN
..             ...            ...                ...     ...  ...  ...  ...
171           T122           T120      Peter Uihlein       1  NaN  NaN  1.0
172           T122           T120       Martin Laird       1  1.0  NaN  NaN
173           T122           T120      Rob Oppenheim       1  NaN  NaN  NaN
174           T122           T120   Michael Thompson       1  NaN  NaN  NaN
175           T122           T120      Rickie Fowler       1  NaN  NaN  NaN

[176 rows x 7 columns]

In [76]:
html_dfs3 = pd.read_html("https://www.pgatour.com/stats/stat.120.{}.html".format(year))

In [79]:
html_dfs3[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVG,TOTAL STROKES,TOTAL ADJUSTMENT,TOTAL ROUNDS
0,1,1,Jon Rahm,74,69.429,4514,- 1.096,65
1,2,2,Dustin Johnson,59,69.592,3918,- 20.872,56
2,3,4,Louis Oosthuizen,65,69.632,4061,- 22.332,58
3,4,8,Collin Morikawa,69,69.673,4448,11.064,64
4,5,6,Brooks Koepka,52,69.677,3631,- 7.815,52
...,...,...,...,...,...,...,...,...
200,201,201,Grayson Murray,52,73.105,3487,22.058,48
201,202,T204,Nick Watney,52,73.106,3470,39.098,48
202,203,203,Hunter Mahan,57,73.226,3998,29.425,55
203,204,T204,Martin Trainer,55,73.346,3860,27.332,53
204,205,206,Kevin Stadler,41,73.955,2866,18.251,39

In [83]:
html_dfs4 = pd.read_html("https://www.pgatour.com/stats/stat.101.{}.html".format(year))

In [84]:
html_dfs4[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVG.,TOTAL DISTANCE,TOTAL DRIVES
0,1,1,Bryson DeChambeau,67,320.9,41073,128
1,2,2,Rory McIlroy,61,317.7,36850,116
2,3,3,Cameron Champ,63,317.6,37480,118
3,4,4,Wyndham Clark,76,315.5,45438,144
4,5,5,Will Gordon,86,314.8,52888,168
...,...,...,...,...,...,...,...
203,204,204,Brian Stuard,96,277.6,52189,188
204,205,205,Tim Wilkinson,46,277.0,24373,88
205,206,207,Brendon Todd,85,274.1,42761,156
206,207,206,David Hearn,64,273.8,32860,120
207,208,208,K.J. Choi,52,268.7,26868,100

In [87]:
html_dfs5 = pd.read_html("https://www.pgatour.com/stats/stat.102.{}.html".format(year))

In [88]:
html_dfs5[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,%,FAIRWAYS HIT,POSSIBLE FAIRWAYS
0,1,1,Brendon Todd,85,75.09,820,1092
1,2,2,Ryan Moore,42,73.29,428,584
2,3,3,Brian Stuard,96,73.21,959,1310
3,4,5,Ryan Armour,72,72.91,732,1004
4,5,4,Chez Reavie,76,72.63,751,1034
...,...,...,...,...,...,...,...
203,204,203,Jamie Lovemark,42,49.48,288,582
204,205,204,Michael Kim,65,49.18,418,850
205,206,206,Wyndham Clark,76,47.11,472,1002
206,207,208,Jimmy Walker,70,46.92,457,974
207,208,207,J.B. Holmes,50,46.86,313,668

In [89]:
html_dfs6 = pd.read_html("https://www.pgatour.com/stats/stat.103.{}.html".format(year))

In [90]:
html_dfs6[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,%,GREENS HIT,# HOLES,RELATIVE/PAR
0,1,2,Collin Morikawa,69,72.05,830,1152,-0.32
1,2,1,Cameron Percy,73,71.90,893,1242,-0.25
2,3,3,Matthew NeSmith,84,71.75,1059,1476,-0.25
3,4,5,Jon Rahm,74,71.62,838,1170,-0.33
4,5,4,Emiliano Grillo,88,71.53,1133,1584,-0.29
...,...,...,...,...,...,...,...,...
203,204,203,Christiaan Bezuidenhout,47,60.23,477,792,-0.26
204,205,205,Henrik Stenson,47,59.56,461,774,-0.22
205,206,206,Jimmy Walker,70,57.22,721,1260,-0.27
206,207,207,Hunter Mahan,57,56.87,563,990,-0.28
207,208,208,Martin Trainer,55,54.82,523,954,-0.27

In [91]:
html_dfs7 = pd.read_html("https://www.pgatour.com/stats/stat.02564.{}.html".format(year))

In [92]:
html_dfs7[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVERAGE,TOTAL SG:PUTTING,MEASURED ROUNDS
0,1,1,Louis Oosthuizen,65,1.062,46.731,44
1,2,2,Brendon Todd,85,0.792,49.884,63
2,3,7,J.T. Poston,79,0.763,54.140,71
3,4,3,Christiaan Bezuidenhout,47,0.760,24.306,32
4,5,4,Jason Kokrak,79,0.756,45.384,60
...,...,...,...,...,...,...,...
203,204,204,Tyler McCumber,60,-0.843,-38.783,46
204,205,205,Byeong Hun An,80,-0.889,-56.875,64
205,206,206,Cameron Champ,63,-0.965,-47.266,49
206,207,207,Grayson Murray,52,-1.289,-45.127,35
207,208,208,Kevin Stadler,41,-1.411,-45.146,32

In [93]:
html_dfs8 = pd.read_html("https://www.pgatour.com/stats/stat.02674.{}.html".format(year))

In [94]:
html_dfs8[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVERAGE,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS
0,1,1,Collin Morikawa,69,2.044,0.382,1.502,0.159,52
1,2,2,Jon Rahm,74,1.825,0.848,0.762,0.215,52
2,3,3,Brooks Koepka,52,1.528,0.616,0.738,0.173,38
3,4,4,Patrick Cantlay,69,1.505,0.550,0.537,0.418,52
4,5,5,Justin Thomas,71,1.469,0.213,0.853,0.402,52
...,...,...,...,...,...,...,...,...,...
203,204,203,Sebastian Cappelen,52,-1.526,-0.234,-0.711,-0.581,34
204,205,205,Sung Kang,80,-1.572,-0.627,-0.706,-0.239,67
205,206,206,Rhein Gibson,54,-1.694,-0.915,-0.612,-0.167,34
206,207,207,Martin Trainer,55,-2.158,-0.594,-1.491,-0.073,42
207,208,208,Hunter Mahan,57,-2.389,0.066,-1.670,-0.785,39

In [95]:
html_dfs9 = pd.read_html("https://www.pgatour.com/stats/stat.02675.{}.html".format(year))

In [96]:
html_dfs9[1]

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVERAGE,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDS
0,1,1,Jon Rahm,74,2.028,105.455,94.897,10.560,52
1,2,2,Louis Oosthuizen,65,1.911,84.099,37.370,46.731,44
2,3,3,Xander Schauffele,67,1.881,88.422,60.129,28.295,47
3,4,4,Brooks Koepka,52,1.876,71.305,58.047,13.259,38
4,5,5,Bryson DeChambeau,67,1.845,95.917,74.203,21.716,52
...,...,...,...,...,...,...,...,...,...
203,204,203,Sung Kang,80,-1.760,-117.902,-105.317,-12.580,67
204,205,204,Hunter Mahan,57,-1.802,-70.272,-93.170,22.900,39
205,206,205,Martin Trainer,55,-1.954,-82.078,-90.629,8.554,42
206,207,206,Grayson Murray,52,-2.094,-73.290,-28.161,-45.127,35
207,208,208,Kevin Stadler,41,-2.606,-83.407,-38.260,-45.146,32